@font-face {
	font-family: "Brandon";
	src: url("../fonts/Brandon_reg.otf") format("opentype");
}

.dark-theme {
	--body-background: #261201;
	--text-color: #dbddd0;
}

.light-theme {
	--body-background: #dbddd0;
	--text-color: #261201;
}

body {
	font-family: Brandon, sans-serif;
	color: var(--text-color);
	background-color: var(--body-background);
	margin: 2%;
	padding: 0;
}

.colors {
	display: flex;
	flex-direction: row;
}

.top-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 2%;
}

.title {
	font-size: 2em;
}

.format-picker {
	--ss-bg-color: transparent;
	--ss-font-color: var(--text-color);
	--ss-border-color: transparent;
	margin-top: -.5%;
}

.format-option {
	background-color: var(--body-background);
	color: var(--text-color);
}

.theme-picker button {
	background: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
	color: var(--text-color);
}

.container {
	display: flex;
	height: 100px;
	padding-bottom: 1%;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 20%;
	font-size: 1.2em;
	align-items: flex-end;
}

h1 {
	margin: 0
}

h2 {
	width: 100px;
	font-size: 1.5em;
	align-items: flex-center;
}